*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}
canvas{
    border: 1px solid white;
}
.container{
  position: relative;
  left: 50%;
  transform: translateX(-300px);
}